.buy_page__charge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 1.5rem;
  color: #333;
}

.buy_page__product {
  font-weight: bold;
  margin-top: 10px;
}