.header {
  background-color: black;
  color: white;
  padding: 20px;
}

.header_link {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.header_title {
  margin: 0;
  text-decoration: none;
}

