.page_options {
  padding: 20px;
}

.options__title {
  font-size: 24px;
  margin-bottom: 30px;
}

.options__link {
  display: block;
  margin-top: 10px;
  margin: 10px 0;
  font-size: 18px;
  color: green;
  text-decoration: none;
}