.page_products {
  padding: 20px;
  background-color: white;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 992px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}